body {
	font-family: Roboto, Arial, sans-serif;
}
.choose-verbs fieldset {
	margin-bottom: 10px;
width: 28%;
border-width: 2px;
border-style: solid;
padding: 0;
}
.choose-verbs input {
	display: none;
}
.choose-verbs input:checked + label:after {
	content: '✔';
	position: absolute;
	right: 10px;
}
.choose-verbs label {
	display: block;
width: 100%;
padding: 4px 14px;
box-sizing: border-box;
position: relative;
}
.fold fieldset {
	display: none;
}
.l-one fieldset {
	border-color: rebeccapurple;
}
.l-two fieldset {
	border-color: cadetblue;
}
.l-three fieldset {
	border-color: bisque;
}
.l-four fieldset {
	border-color: cornflowerblue;
}
.choose-verbs > div {
	display: flex;
	flex-wrap: wrap;
}
.choose-verbs h3 {
	width: 100%;
margin: 0;
padding-bottom: 10px;
border-bottom-width: 1px;
margin-bottom: 10px;
border-bottom-style: solid;
border-bottom-color: slategrey;
}
button {
	cursor: pointer;
}
.hide {
	display: none;
}
.container {
	max-width: 900px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 10px;
}
.right-align {
	text-align: right;
}