body {
	font-family: Roboto, Arial, sans-serif;
}
.choose-verbs fieldset {
  width: calc((100% - 20px) / 3);
  border-width: 2px;
  border-style: solid;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  margin-right: 10px;
  margin-bottom: 10px;
}
.choose-verbs fieldset:nth-child(3n+1) {
   margin-right: 0;
}
.choose-verbs input {
	display: none;
}
.choose-verbs input:checked + label:after {
	content: '✔';
	position: absolute;
	right: 10px;
}
.choose-verbs label {
	display: block;
width: 100%;
padding: 4px 14px;
box-sizing: border-box;
position: relative;
}
.fold fieldset {
	display: none;
}
.l-one fieldset {
	border-color: rebeccapurple;
	&:hover {
		border-color: lighten(rebeccapurple, 15%)
	}
}
.l-two fieldset {
	border-color: cadetblue;
	&:hover {
		border-color: lighten(cadetblue, 15%)
	}
}
.l-three fieldset {
	border-color: bisque;
	&:hover {
		border-color: darken(bisque, 15%)
	}
}
.l-four fieldset {
	border-color: cornflowerblue;
	&:hover {
		border-color: lighten(cornflowerblue, 15%)
	}
}
.choose-verbs > div {
	display: flex;
	flex-wrap: wrap;
}
.choose-verbs h3 {
	width: 100%;
margin: 0;
padding-bottom: 10px;
border-bottom-width: 1px;
margin-bottom: 10px;
border-bottom-style: solid;
border-bottom-color: slategrey;
}
button {
	cursor: pointer;
}
.hide {
	display: none;
}
.container {
	max-width: 900px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 10px;
}
.right-align {
	text-align: right;
}